<template>
  <div class="container justify-content-center align-self-center">
    <modal
      v-if="showModal"
      :message="modalMessage"
      :answer="currentAnswer"
      :attempts="attempts"
      :loser="isLoser"
      @close="checkAttempts()"
      @continue="confirmAnswer()"
      @exit="goToLogin()"
      @nosure="showModal = false"
    ></modal>
    <div class="row-fluid text-center">
      <div class="col-sm-12">
        <img class="py-3 logo-small" src="logo-juego.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card border border-danger">
          <div class="card-body font-weight-bold text-center">
            <div class="card-title">
              <h3>{{ currentQuestion.description }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6" v-for="answer, key in formattedAnswers" :key="answer.id">
        <transition name="bounce">
          <div
            class="card"
            @click="nextQuestion(answer.isCorrect)"
            v-show="!(fiftyHelp && answer.forHide)"
          >
            <div class="card-body">
              <b>{{options[key]}}</b>
              {{ answer.description }}
            </div>
          </div>
        </transition>
      </div>
      <div class="col-sm-12 text-center py-3">
        <div class="btn btn-dark btn-lg" @click="fiftyfifty()">
          <i class="fas fa-bomb"></i>
        </div>
        <div class="btn btn-dark btn-lg" @click="goHelp()">
          <i class="fas fa-question"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card float-left">
          <div class="card-body">
            <transition name="blink">
              <div v-if="blink" class="row-fluid text-center" style="font-size: 2em;">
                <i class="fas fa-clock"></i>
              </div>
            </transition>
            <timer class="card-text" :time="prettyTime"></timer>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card text-white bg-transparent" style="border: none !important">
          <transition name="move">
            <div v-if="moveLevel" class="card-body">
              <div class="row-fluid text-center" style="font-size: 2em;">
                <i class="fas fa-list-ol"></i>
              </div>
              <h4 class="col-sm-12 text-center timer">Nivel: {{ this.currentModule }}</h4>
            </div>
          </transition>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card float-right">
          <div class="card-body">
            <div class="row-fluid text-center" style="font-size: 2em;">
              <i class="fas fa-award"></i>
            </div>
            <h4 class="col-sm-12 text-center timer">Puntaje: {{ this.points }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import TimerComponent from "./TimerComponent.vue";
import ApiService from "../api/apiService.js";
import MessageModal from "./MessageModal.vue";
export default {
  name: "Home",
  mounted() {
    this.checkProgress();
    this.$store.dispatch("getQuestions", this.currentModule);
    this.setTime({ minutes: 7, seconds: 0 });
    this.start();
  },
  components: {
    timer: TimerComponent,
    modal: MessageModal
  },
  props: ["user"],
  data() {
    return {
      showModal: false,
      modalMessage: "",
      currentModule: 1,
      currentAnswer: null,
      fiftyHelp: false,
      fiftyFlag: 0,
      index: 0,
      isRunning: false,
      minutes: 0,
      seconds: 0,
      time: 0,
      timer: null,
      options: ["A.", "B.", "C.", "D."],
      points: 0,
      blink: true,
      attempts: 2,
      isLoser: false,
      bombs: 3,
      moveLevel: true
    };
  },
  computed: {
    ...mapState(["questions", "errorMessage"]),
    currentQuestion: {
      get: function() {
        if (this.questions !== null) {
          return this.questions[this.index];
        } else {
          return {
            description: "",
            answers: [
              { description: "", isCorrect: false },
              { description: "", isCorrect: false },
              { description: "", isCorrect: true },
              { description: "", isCorrect: false }
            ]
          };
        }
      }
    },
    prettyTime() {
      let time = this.time / 60;
      let minutes = parseInt(time);
      let secondes = Math.round((time - minutes) * 60);
      return minutes + ":" + secondes;
    },
    formattedAnswers() {
      let answers = this.currentQuestion.answers;
      let newAnswers = [];
      let fiftyCount = 0;
      if (answers != null) {
        for (let answer of answers) {
          if (fiftyCount < 2 && !answer.is_correct && this.fiftyHelp) {
            newAnswers.push({
              id: answers.id,
              description: answer.description,
              isCorrect: answer.is_correct,
              forHide: true
            });
            fiftyCount++;
          } else {
            newAnswers.push({
              id: answers.id,
              description: answer.description,
              isCorrect: answer.is_correct,
              forHide: false
            });
          }
        }
      }
      return newAnswers;
    }
  },
  watch: {
    errorMessage: function(msg) {
      if (msg == "401" || msg == "404") {
        this.$store.dispatch("setError", "");
        this.$router.push("login");
      }
    },
    currentModule: function(val) {
      if (val <= 6) {
        this.index = 0;
        this.moveLevel = false;
        setTimeout(() => (this.moveLevel = true), 900);
        this.bombs = 3;
        this.$store.dispatch("getQuestions", val);
        this.showModal = false;
      } else {
        //this.currentModule--;
        this.isLoser = true;
        this.modalMessage = "¡Felicitaciones!, Has superado el desafío";
        this.showModal = true;
      }
    }
  },
  methods: {
    fiftyfifty() {
      console.log(this.bombs);
      if (this.bombs > 0) {
        this.fiftyHelp = true;
        this.bombs--;
      }
    },
    checkProgress() {
      ApiService.checkProgress()
        .then(response => {
          let data = response.data.data;
          console.log(data);
          this.currentModule = data.module;
          this.points = parseInt(data.points);
        })
        .catch(error => {
          console.log(error); /* eslint-disable-line no-console */
        });
    },
    saveProgress(question, correct, time) {
      let payload = {
        id_question: question,
        is_correct: correct,
        spent_time: time,
        user: this.user
      };
      ApiService.postAnswer(payload)
        .then(response => {
          console.log(response); /* eslint-disable-line no-console */
        })
        .catch(error => {
          this.$store.dispatch("setError", error.response.status);
          console.log(
            error.response.status
          ); /* eslint-disable-line no-console */
        });
    },
    nextQuestion(is_correct) {
      this.currentAnswer = is_correct;
      this.modalMessage = "¿Última palabra?";
      this.showModal = true;
    },
    checkAttempts() {
      this.showModal = false;
      this.attempts--;
      if (this.attempts == 0) {
        this.goToLogin();
      }
    },
    confirmAnswer() {
      let is_correct = this.currentAnswer;
      if (is_correct) {
        this.points += 1000;
        this.attempts = 2;
      }
      this.fiftyHelp = false;
      this.fiftyFlag = 0;
      this.saveProgress(this.currentQuestion.id, is_correct, 180 - this.time);
      this.setTime({ minutes: 7, seconds: 0 });
      if (this.index < this.questions.length - 1) {
        this.index++;
        this.showModal = false;
      } else {
        this.currentModule++;
      }
    },
    start() {
      this.isRunning = true;
      if (!this.timer) {
        this.timer = setInterval(() => {
          this.blink = !this.blink;
          if (this.time > 0) {
            this.time--;
          } else {
            this.isLoser = true;
            this.modalMessage = "¡PERDISTE!";
            this.showModal = true;
            clearInterval(this.timer);
            this.reset();
          }
        }, 1000);
      }
    },
    stop() {
      this.isRunning = false;
      clearInterval(this.timer);
      this.timer = null;
    },
    reset() {
      this.stop();
      this.time = 0;
      this.seconds = 0;
      this.minutes = 0;
    },
    setTime(payload) {
      this.time = payload.minutes * 60 + payload.seconds;
    },
    goToLogin() {
      this.$router.push("login");
    }
  }
};
</script>
<style scoped>
.logo-small {
  max-height: 22em;
}
@media (min-width: 1024px) {
  .logo-small {
    max-height: 18em;
  }
}
.move-enter-active {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}
.move-leave-active {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}
.blink-enter-active {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}
.blink-leave-active {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in 0.7s;
}
.bounce-leave-active {
  animation: bounce-in 0.7s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
</style>