<template>
  <div class="container-fluid">
    <div class="row-fluid text-center">
      <div class="col-sm-12">
        <img class="py-3 logo-small" style="height: 400px;" src="logo-juego.png" />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">LOGIN</div>
          <div class="card-body text-center" style="line">
            <form @submit.prevent="login">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Número de identificación"
                  v-model="user"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  v-model="password"
                />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from "../api/apiService.js";
export default {
  mounted() {
    console.log("Component mounted.");
  },
  data() {
    return {
      user: "",
      password: ""
    };
  },
  methods: {
    login: function() {
      //Validacion de usuario API
      let self = this;
      ApiService.validateUser(this.user, this.password)
        .then(() => {
          //Almacena usuario y contraseña en store
          self.$router.push({ name: "start", params: { user: self.user } });
        })
        .catch(error => {
          alert(error.response.data.message);
        });
    }
  }
};
</script>

<style scoped>
</style>