<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header"></div>

          <div class="modal-body text-center">
            <slot name="body">{{ finalMessage }}</slot>
          </div>

          <div class="modal-footer" style="justify-content: center;">
            <slot name="footer text-center" v-if="showResponse && success && !loser">
              <button class="btn btn-dark" @click="$emit('continue')">Continuar</button>
            </slot>
            <slot name="footer text-center" v-else-if="(showResponse && !success) || loser">
              <div v-if="!loser">
                <button class="btn btn-dark" v-if="!lose" @click="$emit('close')">Reintentar</button>
              </div>
              <button class="btn btn-dark" @click="$emit('exit')">Salir</button>
            </slot>
            <slot name="footer text-center" v-else>
              <button class="btn btn-dark" @click="validateAnswer()">Si</button>
              <button class="btn btn-dark" @click="$emit('nosure')">No</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: "messageModal",
  props: ["message", "answer", "attempts", "loser"],
  data() {
    return {
      editedMessage: "",
      showResponse: false,
      success: false,
      lose: false
    };
  },
  computed: {
    finalMessage: {
      get: function() {
        if (this.editedMessage != "") {
          return this.editedMessage;
        } else {
          return this.message;
        }
      }
    }
  },
  methods: {
    validateAnswer() {
      if (this.answer) {
        this.editedMessage = "¡MUY BIEN!";
        this.showResponse = true;
        this.success = true;
      } else {
        this.attempts--;
        if (this.attempts > 0) {
          if (this.attempts > 1) {
            this.editedMessage =
              "La respuesta es incorrecta, tienes " +
              this.attempts +
              " intento más";
          } else {
            this.editedMessage =
              "La respuesta es incorrecta, tienes 1 intento más. Si respondes mal, se termina tu sesión y deberás volver a ingresar";
          }
          this.showResponse = true;
          this.success = false;
        } else {
          this.editedMessage =
            "¡Perdiste! Pero no te desanimes, vuelve a ingresar y continua participando por fabulosos premios";
          this.showResponse = true;
          this.success = false;
          this.lose = true;
        }
      }
    }
  }
};
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
