<template>
  <div class="container justify-content-center align-self-center">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div>
          <div class="row-fluid text-center">
            <img class="py-3 logo align-middle" src="logo-juego.png" />
          </div>
          <div class="row-fluid text-center">
            <div class="btn btn-light btn-lg align-middle" @click="goHome()">Iniciar juego</div>
            <div class="btn btn-danger btn-lg align-middle" @click="goLogin()">Salir</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 justify-content-center align-self-center py-3">
        <div class="row-fluid text-center ranking-title py-3 text-light">
          <h1>Ranking</h1>
        </div>
        <table class="table table-striped table-light">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Tiempo</th>
              <th scope="col">Puntaje</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user, index in ranking">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ user.name }}</td>
              <td>{{ formatTime(user.time) }}</td>
              <td>{{ user.puntaje }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import ApiService from "../api/apiService.js";
export default {
  name: "start",
  props: ["user"],
  data() {
    return {
      ranking: null
    };
  },
  methods: {
    goHome() {
      this.$router.push({ name: "home", params: { user: this.user } });
    },
    goLogin() {
      this.$router.push("login");
    },
    getRanking() {
      ApiService.getRanking()
        .then(response => {
          this.ranking = response.data.data;
        })
        .catch(error => {
          console.log(
            error.response.status
          ); /* eslint-disable-line no-console */
        });
    },
    formatTime(time) {
      var minutes = Math.floor(time / 60);
      var seconds = time - minutes * 60;
      return minutes + ":" + seconds;
    }
  },
  mounted() {
    this.getRanking();
  }
};
</script>
<style scoped>
.logo {
  max-height: 20em;
}
@media (min-width: 1024px) {
  .logo {
    max-height: 25em;
  }
}

.ranking-title {
  font-family: "Satisfy", cursive;
}
</style>