<template>
  <div class="timer">
    <div class="col-sm-12 text-center">{{ time | prettify }}</div>
  </div>
</template>
<script>
export default {
  name: "TimerComponent",
  props: ["time"],
  data() {
    return {};
  },
  filters: {
    prettify: function(value) {
      value = value + "";
      let data = value.split(":");
      let minutes = data[0];
      let secondes = data[1];
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      if (secondes < 10) {
        secondes = "0" + secondes;
      }
      return minutes + ":" + secondes;
    }
  }
};
</script>
<style scoped>
.timer {
  font-size: 2em;
}
</style>